<footer class="bg-dark text-center text-lg-start text-light">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase"> App full stack spring boot angular</h5>

        <p>
          App full stack spring boot angular
        </p>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled mb-0 text-light">
          <li>
            <a href="#!" class="text-light">Link 1</a>
          </li>
          <li>
            <a href="#!" class="text-light">Link 2</a>
          </li>
          <li>
            <a href="#!" class="text-light">Link 3</a>
          </li>
          <li>
            <a href="#!" class="text-light">Link 4</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    &copy; 2023 MIGUEL ANGEL REYES CARDENAS
  </div>
</footer>
